.main {
  width: 100vw;
  height: 100vh;
  padding: 24px;
  display: flex;
  align-items: center;
  flex-direction: column;

  h1 {
    margin-bottom: 50px;
    margin-top: 26px;
  }

  div:first-of-type {
    background-color: #3a3838;
    color: #fff;

    th {
      color: #fff;
    }
    thead {
      position: sticky;
      background-color: #171414;
      top: 0;
    }

    tbody {
      tr {
        &:nth-of-type(odd) {
          background-color: #3a3838;
        }

        &:nth-of-type(even) {
          background-color: #6b6666;
        }
      }
    }
  }
}